
  /* NAVIGATION */
  nav{
    background: transparent;
    height: 80px;
    width: 100%;
  }
  .logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  .logo:hover{
    color: white;
  }
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 90px;
    margin: 0 20px;
    border-bottom: none; 
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 2px;
    text-transform: uppercase;   
  }
  nav ul li a:hover{
    background: #f78f3a;
    transition: .5s;
    color: white;
  }
  nav ul li a:active{
    background: #f78f3a;
    transition: .5s;
    color: white;
  }
  a:link, a:visited {
    color: #fff;
    text-decoration: none;
    padding-bottom: 1px;
border-bottom: none;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  @media (max-width: 952px){
    .logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      z-index: 2;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      scroll-behavior: smooth;
      
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
      
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #e67e22;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }

 /* =====Media Queries==== */  
 
  @media (max-width: 1252px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #2c3e50;
      z-index: 2;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
      scroll-behavior: smooth;
      
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
      
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
      color: #e67e22;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }